.App {
  text-align: center;
}
h2.h2{
  margin-top: 80px;
  transition: all .5s linear;
}
h2.h2:hover{
  color: rgb(61, 139, 81);
  opacity: .5;
}
.input{
  margin-top: 40px;
  margin-left: 30px;
  text-align: center;
}
#AddIcon{
  font-size: 30px;
  margin-left: -10px;
  color: black;
  transform: translateX(2px);
  transition: all .5s ease-in .2s;
}
#AddIcon:hover{
  cursor: pointer;
  color: green;
 transform: translateX(-2px);
}
ul{
  padding-top: 25px;
}
ul li{
  background-color: aqua;
  color: green;
  margin-left: 639px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 319px;
}
span{
  margin-left: 20px;
  background-color: red;
  z-index: -1;
  display: flex;
  transition: all .5s linear;
  display: none;
}
span:hover{
  display: block;
  background-color: red;
  cursor: pointer;
}
#vow{
  margin-top: 50px;
  margin-left: 730px;
  display: flex;
}
button{
  width: 120px;
  border: none;
  outline: none;
  border-radius: 20px;
  box-shadow: none;
  background-color: blue;
  color: white;
}
button:hover{
  cursor: pointer;
}
button:focus{
  border: none;
  outline: none;
  border-radius: 20px;
  box-shadow: none;
  background-color: blue;
}